.breadcrumb {
  font-family: "Manrope";
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;

  &__link {
    color: #666;
    text-decoration: none;

    &:hover {
      color: #CA354F;
    }
  }

  &__separator {
    color: #999;
  }

  &__current {
    color: #333;
  }
}
