.payment{
  margin-top: 100px;
  padding-top: 160px;
  height:500px;
  font-family: 'Manrope', sans-serif;

  p{
    font-size:20px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__form{
    width:300px;
    margin:auto;

    &-point {
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-family: 'Manrope', sans-serif;
      font-weight: 800;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      &-name {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-error{
      font-size:14px;
      color:red
    }
  }

  .btn{
    width:100%;
  }

  &__field {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}