.product-about{
  padding-top: 80px;

  &__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
  }

  &__image-container{
    position: relative;
    height:675px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
  }

  &__image{
    width:320px;
    height:320px;
    object-fit:cover;
  }

  &__tags{
    position: absolute;
    display: flex;
    gap:5px;
    top:30px;
    right:30px;
  }

  &__info{
    font-family: 'Manrope';
    font-weight: 500;
  }

  &__name{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;  
  }

  &__technology{
    font-family: 'EuropeExt';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin : 10px 0;
  }

  &__article{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
  }

  &__description{
    font-size: 16px;
    line-height: 150%;
    padding:30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  &__prices-cart-liked{
    padding:30px 0;
    gap:20px;
    font-size:0px;
    display:flex;
  }

  &__prices{
    position:static;
    font-size: 26px;
  }

  &__prev-price{
    font-size: 26px;
  }

  &__btn{
    position:static;
    top:0px;
  }

  &__like{
    position:static;
    top:0px;
  }

  &__auth-btn{
    display:flex;
    align-items: center;
    gap:10px;
  }

  &__auth-block{
    display:flex;
    align-items: center;
    gap:10px;
  }

  &__auth-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
  }

  &__point{
    font-size:14px;
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    &--first{
      border-top: 1px solid rgba(0, 0, 0, 0.07);
    }

    &-title{
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &-list{
      display:flex;
      gap:16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      margin-top:10px;
  
      p{
        padding:10px;
        background-color: #F2F2F2;
      }
    }
  }

}

